
body {
    font-family: 'Inter', sans-serif;
    background-position:center;
    background-style:flat;
  height: 100%;
  margin: 0;
  background: radial-gradient(ellipse 100% 100% at center, #bcbcbc 0%, #dbdbdb 50%, #fff 100%);
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 16px;
  padding-right: 16px;
 }

  .custom-container {
    max-width: 580px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .hover-zoom {
    transition: transform 0.15s ease-in-out;
  }

  .hover-zoom:hover {
    transform: scale(1.09);
  }

  .share-btn-circle:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }

  .link-card {
    background-color: #ffffff;
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.25rem;
    transition: box-shadow 0.3s;
    overflow: hidden;
    min-height: 64px;
    color: #000;
}

.thumbnail-img {
    width: 46px;
    height: 46px;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
    
}

.share-btn {
    position: relative;
    border: none;
    background: transparent;
    padding: 0 0.5rem;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    font-size: 12px;
    color: #6c757d;
}

.share-btn:hover {
    opacity: 1;
}


.feature-card {
    background-color: #000;
    border-radius: 0.25rem;
    padding: 0.5rem;
    position: relative;
}

.feature-text {
    position: absolute;
    bottom: 12px;
    left: 0;
    color: white;
    padding: 0 1rem;
}

.feature-share-btn {
    position: absolute;
    bottom: 10px;
    right: 5px;
    width: 25px;
    height: 25px;
    border: none;
    background-color: transparent;
    opacity: 0.5;
    border-radius: 50%;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-share-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 1;
}
  
  @keyframes zoomBounceOnceIn {
      0% {
          transform: scale(1);
      }
      50% {
          transform: scale(1.035);
      }
      100% {
          transform: scale(1.020);
      }
  }

  @keyframes zoomBounceOnceOut {
      0% {
          transform: scale(1.020);
      }
      50% {
          transform: scale(0.990);
      }
      100% {
          transform: scale(1);
      }
  }

  .interactive-card {
      transition: transform 0.25s ease;
  }

  .interactive-card:hover {
      animation: zoomBounceOnceIn 0.25s ease forwards;
  }

  .interactive-card:not(:hover) {
      animation: zoomBounceOnceOut 0.25s ease forwards;
  }

  a.btn-light:hover {
    background-color: #ffffff !important;
  }


  .linktree-btn-text {
    line-height: 1.2;          
}

  



  